*{
    font-family: 'Roboto', sans-serif;
    color: #36454f;

}

h2{
    background-color: #58949C;
    color: white;
    text-align: center;
    padding: .7em;
    margin: 0;
}

h1{
    color: #36454f;
}

p{
    color: silver;
}

h1, 
#latest{
    text-align: center;
}

#latest {
    border-bottom: #58949C double 5px;
    padding-bottom: 1em;
    color:#C0C0C0;
    width:90%;
    max-width: 900px;
    margin: 0 auto
}

form{
    background-color: whitesmoke;
    max-width: 900px;
    margin: 0 auto;
}

fieldset{
    padding-top: 1em;
    border:none;
}

.first{
    padding-top: 1em;
}

legend{
    font-size: 1.5em;
}

.contact,
.contact-zip{
    display: flex;
    flex-direction: column;
    padding:1em;
    border: none;
}

.contact-zip {
    display:inline-flex;
    padding:1em;
    margin-bottom: .5em;
}

input[type=text],
input[type=email],
input[type=tel],
select[name=user_state]{
    background-color: cornsilk;
    border-radius: 5px;
    border: none;
    height: 25px;
    padding: .5em;
    font-size: 1em;
    margin-top: 1em;
    box-sizing: content-box;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select[name=user_state]:focus,
#topics:focus {
    transition: background-color 1.5s ease-out;
    background-color: #dbe8ff;
}

#zip{
    flex-basis: 25%;
}

#bottom {
    border-top: #58949C solid 2.5px;
    max-width: 80%;
    max-width: 900px;
    margin: 0 auto;
    text-align:left;
}

.newsletter,
.format{
    padding:.5em;
    border: none;
    color: #36454f;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=tel]::placeholder {
    text-align: right;
    color: silver;
    font-style: italic;
    padding-right: 10px;
}

/* input[type=tel]::placeholder{
    text-align: left;
    color:#36454f;
} */

input[type="checkbox"], 
input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 1px #f1f1f1;
    margin: 10px;
}

#plain{
    margin-bottom: 2em;
}

#topics{
    margin: 1em 0;
    width: 100%;
    border-radius: 5px;
    border:none;
    background: cornsilk;
}

button{
    width: 100%;
    padding: 1em;
    background-color: #58949C;
    border-radius: 5px;
    border: #58949C 1px solid;
    color: white;
    cursor: pointer; 
    box-sizing: border-box;
}

button:hover{
    background-color: #dbe8ff;
    border: #70a6fe 1px solid;
    color: #36454f;
    transition: 1s;
    transform: scale(1.1);
}

footer{
    padding-top: 1.5em;
    text-align: center;
    color: #C0C0C0;
}

/* ===========================================
media query 768px
=========================================== */

 @media(min-width:768px){

    #latest{
        padding-bottom: 2em;
    }
    .first{
        padding-top: 2em;
    }

    .contact,
    .contact-zip {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    select[name=user_state] {
        flex: 100%;
        margin: 0 auto;
    }

    .contact label,
    .contact-zip label{
        flex-basis: 30%;
    }

    #zip {
            flex-basis:50%;
            margin-right: 37%;
          
        }   
 }